{% extends 'Pages/index.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div style="max-width: 100vw; height: 88vh; margin: 0 auto; padding: 20px;">
        <h1 style="padding-top:10vh;font-size: 3rem; margin-bottom: 20px; text-align: center; color: #333;">About Us</h1>
        <div style="background-color: #CCD0CF; border-radius: 10px; padding: 20px;">
            <p style="font-size: 1.5rem; line-height: 1.5; text-align: center; color: #666;">
                Welcome to our online store! We aim to provide high-quality products and exceptional customer service to our valued customers.
            </p>
            <p style="font-size: 1.5rem; line-height: 1.5; text-align: center; color: #666;">
                Our mission is to make your shopping experience enjoyable and convenient. Whether you're looking for the latest fashion trends, electronics, or home essentials, we've got you covered.
            </p>
            <p style="font-size: 1.5rem; line-height: 1.5; text-align: center; color: #666;">
                Thank you for choosing us for your online shopping needs. Feel free to contact us if you have any questions or feedback.
            </p>
        </div>
    </div>
{% endblock %}
