{% extends 'Pages/loggedIn_index.html' %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            margin-left:210px;
        }

        .contact-info {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 40px;
            max-width: 500px;
            width: 100%;
        }

        .contact-info h1 {
            color: #333333;
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .contact-info p {
            font-size: 1.2rem;
            color: #666666;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .contact-info p strong {
            color: #333333;
        }

        .contact-info textarea {
            width: 100%;
            height: 150px;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            resize: none;
        }

        .contact-info button {
            display: inline-block;
            background-color: #333333;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .contact-info button:hover {
            background-color: #555555;
        }
    </style>

    <div class="container">
        <div class="contact-info">
            <h1>Contact Us</h1>
            <p>If you have any questions or inquiries, please feel free to contact us using the information below:</p>
            <p><strong>Email:</strong> pranshu@skylabstech.com</p>
            <p><strong>Phone:</strong> +91 7987822433</p>
            <form method="POST">
                {% csrf_token %}
                <textarea name="message" placeholder="Write your message here..." required></textarea>
                <button type="submit">Send us an email</button>
            </form>
        </div>
    </div>
{% endblock %}
