{% extends 'Pages/index.html' %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 88vh; text-align: center;">
    <div style="background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); height:100%; width: 100%; max-width: 100vw;">
        <h1 style="font-size: 2rem;padding-top:10vh ;margin-bottom: 20px;">OTP Sent</h1>
        <p style="margin-bottom: 10px;">An OTP has been sent to your email address. Please check your email!</p>
        <form method="get" action="{% url 'update_password' %}">
            {% csrf_token %}
            <button type="submit" style="background-color: #333; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Enter OTP</button>
        </form>
    </div>
</div>
{% endblock %}
