{% extends 'Pages/index.html' %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 88vh; text-align: center;">
    <div style="background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); height:100%; width: 100%; max-width: 100vw;">
        <h1 style="font-size: 2rem;padding-top:10vh ;margin-bottom: 20px;">Reset Password</h1>
        <p>Please enter your Email again for confirmation with the OTP below:</p>
            <form method="post" action="{% url 'update_password' %}" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            {% csrf_token %}
            <div style="flex-basis:100%; margin-bottom: 20px;">
                <label for="email" style="font-size: 1.2rem; color: #333;">Email:</label>
                <input type="text" id="email" name="email" required style="padding: 10px; font-size: 1.5rem; border-radius: 5px; border: 1px solid #ccc; width: 70%;">
            </div>
            <div style="flex-basis: calc(50% - 20px); margin-bottom: 20px;">
                <label for="new_password" style="font-size: 1.2rem; color: #333;">New Password:</label>
                <input type="password" id="new_password" name="new_password" required style="padding: 10px; font-size: 1.5rem; border-radius: 5px; border: 1px solid #ccc; width: 90%;">
            </div>
            <div style="flex-basis: calc(50% - 20px); margin-bottom: 20px;">
                <label for="confirm_password" style="font-size: 1.2rem; color: #333;">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password"required style="padding: 10px; font-size: 1.5rem; border-radius: 5px; border: 1px solid #ccc; width: 90%;">
            </div>
            <div style="flex-basis:100%; margin-bottom: 20px;">
                <label for="otp" style="font-size: 1.2rem; color: #333;">OTP:</label>
                <input type="text" id="otp" name="otp" required style="padding: 10px; font-size: 1.5rem; border-radius: 5px; border: 1px solid #ccc; width: 30%;">
            </div>
            <div style="flex-basis: 100%; margin-bottom: 20px;">
            <button type="submit" style="padding: 8px 15px; background-color: #333; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Submit OTP</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
